@import url("https://fonts.google.com/specimen/Plus+Jakarta+Sans");

.App {
  width: 100%;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 376px) {
}
